.list-group-item:focus {
  outline: none;
}

.badge + .badge {
  margin-left: 0.5em;
}

.btn-toolbar {
  gap: 0.5em;
}

.dropdown-toggle {
  align-items: center;
  display: flex;
  max-width: 100%;
}

.dropdown-toggle::after {
  flex-shrink: 0;
}

.input-monospace {
  font-family: var(--font-family-monospace);
}
