.App {
    margin: 8px;
}

.selector, .planner, .course {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
}

.planner-body, .selector-body {
    margin: 16px;
}

.planner-body>.selector, .planner-body>.planner, .planner-body>.course, .selector-body>.option {
    margin: 8px 0;
}

.planner-header {
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.planner-header:not(:last-child) {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 4px 4px 0 0;
    position: sticky;
    top: 0;
}

.planner-expand-button {
    margin: 0 4px 0 0;
}

.constraint-title {
    flex-grow: 1;
    margin: 0 4px;
}

.constraint-title>h1, .constraint-title>h2 {
    font-size: 1em;
    margin: 0;
}

.constraint-title>h2 {
    color: gray;
    font-weight: normal;
}

.constraint-credits-count {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    margin: 0 4px;
}

.registered-credits-count, .acquired-credits-count, .required-credits-count {
    text-align: right;
}

.registered-credits-count>strong, .acquired-credits-count>strong, .required-credits-count>strong {
    font-size: 2em;
}

.registered-credits-count {
    margin: 0 4px;
}

.registered-credits-count>strong {
    color: orange;
}

.acquired-credits-count>strong {
    color: orangered;
}

.is-ok-button, .take-course-button {
    margin: 0 0 0 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    flex-shrink: 0;
    font-weight: bold;
    padding: 4px;
}

.is-ok-button[data-value="0"] {
    border-color: rgba(0, 0, 0, 0.5);
    border-style: dashed;
    color: gray;
}

.is-ok-button[data-value="1"], .take-course-button[data-value="registered"] {
    background-color: orange;
    border-color: orange;
    color: white;
}

.is-ok-button[data-value="2"], .take-course-button[data-value="acquired"] {
    background-color: orangered;
    border-color: orangered;
    color: white;
}

.course {
    align-items: center;
    border-color: rgba(255, 165, 0, 0.5);
    border-style: solid;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.course[data-value="unselected"] {
    border-style: dashed;
}

.course[data-value="registered"] {
    border-color: orange;
}

.course[data-value="acquired"] {
    border-color: orangered;
}

.course[data-disabled="true"] {
    filter: grayscale(1);
}

.option[data-selected="false"]>.option-contents .course {
    pointer-events: none;
}

.course-code {
    color: gray;
    margin: 0 4px 0 0;
}

.course-title {
    font-size: 1em;
    margin: 0 4px;
    flex-grow: 1;
}

.course-credits-count {
    margin: 0 4px;
}

.course-credits-count>strong {
    color: orange;
    font-size: 2em;
}

.course[data-value="acquired"]>.course-credits-count>strong {
    color: orangered;
}

.take-course-button {
    border-color: rgba(255, 165, 0, 0.5);
    color: orange;
}

.take-course-button::after {
    content: '履修しない';
}

.take-course-button[data-value="registered"]::after {
    content: '履修する'
}

.take-course-button[data-value="acquired"]::after {
    content: '修得済み'
}

.take-course-button[data-disabled="true"]::after {
    content: '無効'
}

.selector {
    border-style: dashed;
}

.selector>h1 {
    color: gray;
    font-size: 1em;
    margin: 8px;
}

.selector>h1::after {
    content: '1つ選択してください';
}

.option[data-selected="false"]>.option-contents {
    filter: brightness(0.5) grayscale(1);
}

.option {
    display: flex;
    align-items: center;
}

.option-select-button {
    border-color: rgba(255, 165, 0, 0.5);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    flex-shrink: 0;
    height: 1.5em;
    margin-right: 8px;
    width: 1.5em;
}

.course:hover, .option-select-button:hover {
    filter: brightness(1.1);
}

.course:active, .option-select-button:active {
    filter: brightness(0.9);
}

[data-selected="true"]>.option-select-button {
    background-color: orange;
    border-color: oange;
}

.option[data-selected="true"]>.option-select-button {
    pointer-events: none;
}

.option-contents {
    flex-grow: 1;
}