.list-group-item:focus {
    outline: none;
}

.badge+.badge {
    margin-left: .5em;
}

.btn-toolbar>*+* {
    margin-left: .5em;
}

.dropdown-toggle {
    align-items: center;
    display: flex;
    max-width: 100%;
}

.dropdown-toggle::after {
    flex-shrink: 0;
}

.input-monospace {
    font-family: var(--font-family-monospace);
}

.requirement-with-courses-view>div:first-child {
    --top: 12px;
    top: var(--top);
}

.requirement-with-courses-view>div:first-child::before {
    --margin-x: -20px;
    --margin-y: calc(-1 * var(--top));
    backdrop-filter: blur(8px);
    background-color: #ffffff80;
    border-radius: .25rem;
    content: '';
    height: calc(100% - 2 * var(--margin-y));
    margin: var(--margin-y) var(--margin-x);
    position: absolute;
    width: calc(100% - 2 * var(--margin-x));
    z-index: -1;
}